

/* Form box */

.boxContact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

/* ---------------------------------------------------------------------- */

/* Form */

.boxContact h2 {
    color: black;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    padding-bottom: 50px;
}

.boxContact form {
    display: flex;
    flex-direction: column;
}

.boxContact .boxIdentity {
    display: flex;
    gap: 20px;
}

/* Input fields */
.boxContact form .inputBoxIdentity,
.boxContact form .inputBoxOther {
    position: relative;
}

.boxContact form .inputBoxOther {
    margin-top: 35px;
    width: 300px;
}

.boxContact .boxIdentity .inputBoxIdentity {
    flex: 1;
}

.boxContact form .inputBox textarea {
    position: relative;
    width: 100%;
    height: 150px;
    padding: 10px 10px 10px;
    background: transparent;
    outline: none;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: none;
    color: black;
    font-size: 1em;
    letter-spacing: 0.05em;
    resize: none;
    z-index: 10;
}

.boxContact form .inputBox .spanTextarea {
    position: absolute;
    top: -45px;
    left: 0px;
    padding: 20px 0px 10px;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
    color: black;
    font-size: 0.75em;
}

.boxContact form .inputBoxOther.full-width {
    width: 100%;
}

.boxContact form .inputBoxOther.margeBottom {
    margin-bottom: 35px;
}


.boxContact form .inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: black;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.boxContact form .inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: black;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.boxContact form .inputBox input:valid ~ span,
.boxContact form .inputBox input:focus ~ span {
    color: black;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.boxContact form .inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid black;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.boxContact form .inputBox input:valid ~ i,
.boxContact form .inputBox input:focus ~ i {
    height: 44px;
    background: transparent;
}

/* Form link */

.boxContact form .links {
    display: flex;
    justify-content: end;
}

.boxContact form .links a {
    margin: 10px 10px;
    font-size: 0.75em;
    color: black;
    text-decoration: none;
}

/* Form button final */

.boxContact form input[type="submit"] {
    outline: none;
    padding: 9px 5px;
    background: white;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 125px;
    margin-top: 20px;
    color: black;
    border: 2px solid black;
}

.boxContact form input[type="submit"]:hover {
    background: rgba(128, 128, 128, 0.25);
}

.boxContact form input[type="submit"]:active {
    opacity: 0.8;
}

/* ---------------------------------------------------------------------- */

/* CSS Responsive */

@media screen and (max-width: 991px) {
    .boxContact {
        width: 600px;
    }
}

@media screen and (max-width: 675px) {
    .boxContact {
        width: 500px;
    }
}

@media screen and (max-width: 550px) {
    .boxContact {
        width: 400px;
    }
}

@media screen and (max-width: 450px) {
    .boxContact {
        width: 350px;
    }
}


/* ---------------------------------------------------------------------- */