.boxProject {
    display: grid;
    place-items: center;
    padding-top: 40px;
    padding-bottom: 65px;
    border-top: 1px solid #000;
    border-bottom: 1px solid black;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.15);
}

.boxProject .sectiontitle {
    color: black;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    padding-bottom: 40px;
    font-size: 35px;
}

.boxCard {
    display: grid;
    column-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
}

.artCard {
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
}

.artCard .badge-web {
    position: absolute;
    top: 16px;
    left: 16px;
}

.artCard .b2 {
    left: 70px;
}

.artCard .b3 {
    left: 130px;
}

.imgCard {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 23px;
}

.artCard:nth-child(1) .imgCard {
    object-fit: contain;
}

.dataCard {
    width: 270px;
    background-color: #ffffff;
    padding: 20px 25px;
    box-shadow: 0 8px 24px #00000026;
    border-radius: 16px;
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.bioCard {
    display: block;
    font-size: 12px;
    padding-top: 5px;
}

.titleCard {
    font-size: 1em;
    font-weight: 500;
    color: #262626;
}

.buttonCard {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: #7e22ce;
}

.buttonCard:hover {
    text-decoration: underline;
}

/* Naming animations in hover */
.artCard:hover .dataCard {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity 0.3s;
}

.artCard:hover {
    animation: remove-overflow 2s forwards;
}

.artCard:not(:hover) {
    animation: show-overflow 2s forwards;
}

.artCard:not(:hover) .dataCard {
    animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
    50% {
        transform: translateY(-160px);
    }
    100% {
        transform: translateY(-100px);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-100px);
    }
    50% {
        transform: translateY(-160px);
    }
    100% {
        transform: translateY(8px);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }
    50% {
        overflow: hidden;
    }
}

/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 1070px) {
    .boxCard {
        column-gap: 25px;
    }

    .imgCard {
        width: 270px;
        height: 270px;
    }

    .dataCard {
        width: 240px;
    }

    .bioCard {
        font-size: 10px;
    }

    .buttonCard {
        font-size: 10px;
    }
}

@media screen and (max-width: 920px) {
    .boxCard {
        column-gap: 18px;
    }

    .imgCard {
        width: 240px;
        height: 240px;
    }

    .titleCard {
        font-size: 0.95em;
    }

    .dataCard {
        width: 215px;
        padding: 18px 15px;
    }

    .artCard:hover .dataCard {
        animation: show-data-small 1s forwards;
    }

    .artCard:not(:hover) .dataCard {
        animation: remove-data-small 1s forwards;
    }
}

@keyframes show-data-small {
    50% {
        transform: translateY(-160px);
    }
    100% {
        transform: translateY(-85px);
    }
}

@keyframes remove-data-small {
    0% {
        transform: translateY(-85px);
    }
    50% {
        transform: translateY(-160px);
    }
    100% {
        transform: translateY(8px);
    }
}

@media screen and (max-width: 800px) {
    .boxCard {
        grid-template-columns: none;
        row-gap: 40px;
    }

    .imgCard {
        width: 270px;
        height: 270px;
    }

    .dataCard {
        width: 240px;
    }

    .bioCard {
        font-size: 10px;
    }

    .buttonCard {
        font-size: 10px;
    }
}

@media screen and (max-width: 640px) {
    .boxProject {
        padding-top: 30px;
        padding-bottom: 55px;
    }

    .boxProject .sectiontitle {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    .boxProject .sectiontitle {
        font-size: 20px;
    }
}
